<div class="main-page">
  <div class="imglogo">
    <img src='assets/icons/icon-736x471.png' class="logo" alt="app logo billFold" width=300, height=auto />
  </div>

  <div class="loginbtn">
    <button mat-raised-button (click)="openUserLoginDialog()" style="margin-right: 10px;">
      <mat-icon aria-hidden="false" aria-label="Example home icon">login</mat-icon> Login
    </button><br>
    <span class="memberText">Not yet a member? </span>
    <button mat-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;">
      Sign Up
    </button>
  </div>

</div>