
.main-page{
  background-color: #007ad9;
  margin-top: 100px;
  padding-top: 50px;
  margin-bottom: 100px;
  padding-bottom:50px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
.imglogo{
  padding-bottom: 40px;
}
h1{
  color: #fff;
  font-family: 'Raleway';
}