<div class="main-page">
  <div class="imglogo">
    <img src='assets/icons/icon-736x471.png' class="logo" alt="app logo billFold" width=400, height=auto />
  </div>

  <!-- <div class="loginbtn"> -->
  <mat-card id="loginCard">
    <mat-card-header>
      <mat-card-title id="cardHeader">Log in to BillFold!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill" id="formField">
          <mat-label>Enter your Username</mat-label>
          <button mat-icon-button matPrefix>
            <mat-icon matPrefix>account_circle</mat-icon>
          </button>

          <input matInput name="Username" required [(ngModel)]="userCred.Username" type="text">
        </mat-form-field>
        <mat-form-field appearance="fill" id="formField">
          <mat-label>Enter your Password</mat-label>
          <input matInput name="Password" required [(ngModel)]="userCred.Password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button id="loginbtn" mat-raised-button (click)="loginUser()">
        <mat-icon aria-hidden="false" aria-label="Login icon">login</mat-icon>
        Log In
      </button>
      <br>
      <span class="memberText">Don't have an account? </span>
      <button id="regbtn" mat-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;">
        Sign Up
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- </div> -->

</div>