<p>expenses-page works!</p>
<button mat-raised-button color="primary" (click)="openCreateExpenseDialog()" style="margin-right: 10px;">
  +
</button>


<p-panel header="Expenses" class=ui-g-6 ui-md-6>
  <p-chart type="line" [data]="userData" [options]="basicOptions"></p-chart>
</p-panel>

<!-- <canvas></canvas> -->




<div *ngFor="let expense of expenses">
  <p>{{expense.Date}}</p>
  <p>{{expense.Amount}}</p>
  <button mat-raised-button color="primary" (click)="openEditExpenseDialog(expense)" style="margin-right: 10px;">
    Edit
  </button>


</div>