@use '@angular/material' as mat;

$my-primary-palette: mat.define-palette(mat.$cyan-palette);
$my-bg-palette: mat.define-palette(mat.$blue-gray-palette);
$my-warn-palette: mat.define-palette(mat.$amber-palette);

$font:'Raleway', sans-serif;
$textSize: 15px;
$headerSize: 20px;
$bg:mat.get-color-from-palette($my-bg-palette,800);
$headerbg: mat.get-color-from-palette($my-primary-palette, 700);
$primary: mat.get-color-from-palette($my-primary-palette,500);
$warn: mat.get-color-from-palette($my-warn-palette,500);
$white: #fff;



ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 0.2em 0;
  padding: 0;
  list-style: none;
}
li:last-child{
  margin-bottom: 2em;
}
h4{
  font-family: $font;
  font-size: $headerSize;
  padding-bottom: 0;
}

b { 
  margin-right: 3px;
}

.expenses-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}
#expenseList{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#expenseItem{
 cursor: pointer;
 padding-top:10px;
}
#mainContent{
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 300px;
  line-height: 1.5;
  padding:2em;
}

#mainChart {
  flex-grow: 1;  
  padding: 1em 3em 0px 1em;
}

#addexpBtn{
  margin-bottom: 3px;
}

#closeSideNav{
  float:right;
}
#menuBtn{
  margin:1em;
}
#menuIcon{
  font-size: 30px;
}
#chartHeaderPrevious{
  font-family: $font;
  padding: 0.2em;
}

@media only screen and (min-device-width: 250px) and (max-device-width: 600px){
#mainContent{
  display: flex;
  flex-direction: column;
}

#mainChart {
  flex-grow: 1;  
  padding: 1em 1em 0px 1em;
}

#menuBtn{
  margin-bottom: 0px;
}
}




