<app-nav-bar></app-nav-bar>


<mat-sidenav-container class="expenses-container" (backdropClick)="close()">

  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
    <button id="closeSideNav" mat-icon-button (click)="close()">
      <mat-icon aria-hidden="true" aria-label="close icon">close_rounded</mat-icon>
    </button>
    <div class='sidebar'>
      <h4>Instructions</h4>
      <ul>
        <li>
          <mat-icon aria-hidden="true" aria-label="check icon">check_outline</mat-icon>
          Select an expense and you will be prompted to edit the entry's details
        </li>
        <li>
          <mat-icon aria-hidden="true" aria-label="check icon">check_outline</mat-icon>
          Click the delete button to delete the expense entry
        </li>
      </ul>
      <mat-divider></mat-divider>

      <li *ngFor="let expense of cmExpenses">
        <div id="expenseList">
          <p id="expenseItem" (click)="openEditExpenseDialog(expense)">{{expense.Description.toUpperCase()}}
            ({{expense.Date}}) : ${{expense.Amount}}
          </p>
          <button mat-icon-button color="warn" (click)="openDeleteExpenseDialog(expense)">
            <mat-icon aria-hidden="true" aria-label="delete icon">delete_forever</mat-icon>
          </button>
        </div>

      </li>

    </div>
  </mat-sidenav>

  <mat-sidenav-content id="mainContent">
    <button id="menuBtn" mat-icon-button (click)="sidenav.open()">
      <i id="menuIcon" aria-hidden="true" aria-label="menu icon" class="material-icons large">menu</i>
    </button>

    <mat-tab-group headerPosition="above" selectedIndex="2" id="mainChart">
      <mat-tab id="monthLabel" label={{twoPreviousMonth}}>
        <ng-template matTabContent>
          <p-panel id="chart">

            <p-header id="chartHeaderPrevious">

              {{twoPreviousMonth}} Expenses
            </p-header>


            <p-chart height="350px" type="line" [data]="twoPrevUserData" [options]="basicOptions"></p-chart>
          </p-panel>
        </ng-template>

      </mat-tab>
      <mat-tab label={{previousMonth}}>
        <ng-template matTabContent>
          <p-panel id="chart">

            <p-header id="chartHeaderPrevious">

              {{previousMonth}} Expenses
            </p-header>


            <p-chart height="350px" type="line" [data]="prevUserData" [options]="basicOptions"></p-chart>
          </p-panel>
        </ng-template>
      </mat-tab>

      <mat-tab label={{currentMonth}}>
        <ng-template matTabContent>
          <p-panel id="chart">

            <p-header>
              <button id="addexpBtn" mat-icon-button (click)="openCreateExpenseDialog()" style="margin-right: 10px;">
                <mat-icon fontSize="large" aria-hidden="true" aria-label="add icon">add_circle_outline_rounded
                </mat-icon>
              </button>
              {{currentMonth}} Expenses
            </p-header>


            <p-chart height="350px" type="line" [data]="userData" [options]="basicOptions"></p-chart>
          </p-panel>
        </ng-template>
      </mat-tab>

    </mat-tab-group>


  </mat-sidenav-content>

</mat-sidenav-container>