<app-nav-bar></app-nav-bar>


<mat-sidenav-container class="expenses-container" (backdropClick)="close()">

  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
    <button id="closeSideNav" mat-icon-button (click)="close()">
      <mat-icon>close_rounded</mat-icon>
    </button>
    <div class='sidebar'>

      <li *ngFor="let expense of cmExpenses">
        <div id="expenseList">
          <p id="expenseItem" (click)="openEditExpenseDialog(expense)">{{expense.Description.toUpperCase()}}
            ({{expense.Date.slice(5,10)}}) : ${{expense.Amount}}
          </p>
          <button mat-icon-button color="warn" (click)="openDeleteExpenseDialog(expense)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
        <!-- <button mat-raised-button color="primary" (click)="openEditExpenseDialog(expense)" style="margin-right: 10px;">
          Edit
        </button> -->

      </li>

    </div>
  </mat-sidenav>

  <mat-sidenav-content id="mainContent">
    <button id="menuBtn" mat-icon-button (click)="sidenav.open()">
      <i id="menuIcon" class="material-icons large">menu</i>
    </button>


    <p-panel id="mainChart">

      <p-header>
        <button id="addexpBtn" mat-icon-button (click)="openCreateExpenseDialog()" style="margin-right: 10px;">
          <mat-icon fontSize="large">add_circle_outline_rounded</mat-icon>
        </button>
        {{currentMonth}} Expenses
      </p-header>


      <p-chart height="400px" type="line" [data]="userData" [options]="basicOptions"></p-chart>
    </p-panel>

  </mat-sidenav-content>

</mat-sidenav-container>