<p>user-update-password works!</p>


<!-- <mat-form-field>
  <input matInput [(ngModel)]="userData.Password" placeholder={{data.Password}} type="text" name="Password" required>
</mat-form-field> -->
<div [formGroup]="newPassword">
  <mat-form-field>
    <input matInput [(ngModel)]="userData.Password" placeholder="Enter new password" [type]="hide ? 'password' : 'text'"
           formControlName="password" required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>

  <mat-card-actions>
    <button mat-raised-button (click)="updateUser(token, userId)" color="primary">
      Change Password
    </button>
  </mat-card-actions>
</div>