<mat-card id="changePasswordCard">
  <mat-card-header id="cardHeader">
    <mat-card-title id="passwordHeader">Update Password</mat-card-title>
  </mat-card-header>


  <mat-form-field appearance="fill" id="formField">
    <mat-label>Enter new password</mat-label>
    <input matInput [(ngModel)]="userData.Password" [type]="hide ? 'password' : 'text'" name="Password" required>

    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

  </mat-form-field>

  <mat-card-actions id="divSaveBtn">
    <button mat-raised-button id="saveBtn" (click)="updateUser(token, userId)">
      <mat-icon aria-hidden="false" aria-label="save icon">save_alt</mat-icon>
      Save Changes
    </button>
  </mat-card-actions>
</mat-card>