<mat-card class="deletecard">
  <mat-card-header id="cardHeader">
    <mat-card-title id="deleteHeader">Are you sure that you want to delete your account?</mat-card-title>
  </mat-card-header>


  <mat-dialog-actions id="actionbtns">
    <button mat-button id="cancelbtn" (click)="cancel()">Cancel</button>
    <button mat-raised-button id="deletebtn" (click)="deleteUserAccount(token,userId)">
      <mat-icon aria-hidden="false" aria-label="delete icon">delete_forever</mat-icon>
      Delete Account
    </button>
  </mat-dialog-actions>

</mat-card>