<mat-card id="changeUsernameCard">
  <mat-card-header id="cardHeader">
    <mat-card-title id="usernameHeader">Update Username</mat-card-title>
  </mat-card-header>

  <mat-form-field appearance="fill" id="formField">
    <mat-label>Enter your new username</mat-label>
    <input matInput [(ngModel)]="userData.Username" placeholder={{data.Username}} type="text" name="Username" required>
  </mat-form-field>
  <mat-card-actions id="divSaveBtn">
    <button mat-raised-button id="saveBtn" (click)="updateUser(token, userId)">
      <mat-icon aria-hidden="false" aria-label="save icon">save_alt</mat-icon>
      Save Changes
    </button>
  </mat-card-actions>
</mat-card>