<app-nav-bar></app-nav-bar>

<mat-sidenav-container class="bills-container" (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
    <button id="closeSideNav" mat-icon-button (click)="close()">
      <mat-icon>close_rounded</mat-icon>
    </button>
    <div class='sidebar'>
      <h4>Instructions</h4>
      <ul>
        <li>
          <mat-icon>check_outline</mat-icon>Select a bill from the list and you will be prompted to edit the entry
        </li>
        <li>
          <mat-icon>check_outline</mat-icon>Click the delete button to delete the bill entry
        </li>
        <li>
          <mat-icon>check_outline</mat-icon>Click an event in the calendar to mark as Paid
        </li>
      </ul>
      <mat-divider></mat-divider>
      <!-- <h4>All Bills ({{bills.length}})</h4> -->
      <ul>
        <li *ngFor='let bill of bills'>
          <div id="billsList">
            <p id="billItem" (click)="openBillEditDialog(bill)">{{bill.Description.toUpperCase()}}
              ({{bill.Date.slice(5,10)}}) : ${{bill.Amount}}</p>
            <button mat-icon-button color="warn" (click)="openBillDeleteDialog(bill)">
              <mat-icon>delete_forever</mat-icon>
            </button>
            <!-- <b>{{bill.Date}}</b>
            <i>{{bill.Description}}</i>
            <i>{{bill.Amount}}</i> -->
          </div>
          <!-- <button (click)="openBillEditDialog(bill)">Edit Bill</button> -->

        </li>
      </ul>

    </div>
  </mat-sidenav>
  <mat-sidenav-content id="mainContent">
    <button id="menuBtn" mat-icon-button (click)="sidenav.open()">
      <i id="menuIcon" class="material-icons large">menu</i>
    </button>
    <div id="calendarMain">
      <full-calendar [options]='calendarOptions'></full-calendar>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>