@use '@angular/material' as mat;

$my-primary-palette: mat.define-palette(mat.$cyan-palette);
$my-bg-palette: mat.define-palette(mat.$blue-gray-palette);
$my-warn-palette: mat.define-palette(mat.$amber-palette);

$font:'Raleway', sans-serif;
$textSize: 15px;
$headerSize: 20px;
$bg:mat.get-color-from-palette($my-bg-palette,800);
$headerbg: mat.get-color-from-palette($my-primary-palette, 700);
$primary: mat.get-color-from-palette($my-primary-palette,500);
$warn: mat.get-color-from-palette($my-warn-palette,500);
$blue:#007ad9;
$white: #fff;
$bgGrey: #ebecef;

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 0.2em 0;
  padding: 0;
  list-style: none;
}
li:last-child{
  margin-bottom: 2em;
}
h4{
  font-family: $font;
  font-size: $headerSize;
  padding-bottom: 0;
}

b { /* used for event dates/times */
  margin-right: 3px;
}
.bills-container {
  position: absolute;
  top: 60px;
  bottom: 20px;
  left: 0;
  right: 0;
}
#billsList{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#billItem{
 cursor: pointer;
 padding-top:10px;
}
#mainContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sidebar {
  width: 300px;
  line-height: 1.5;
  padding:2em;
}
#closeSideNav{
  float:right;
}
#menuBtn{
  margin:1em;
  margin-left:40px;
}
#menuIcon{
  font-size: 30px;
}

.fc { /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}
#calendarMain{
  flex-grow: 1;
  height: 400px;
  margin-top: 20px;
  margin-right:2em;
}

@media only screen and (min-device-width: 250px) and (max-device-width: 600px){
#mainContent{
  display: flex;
  flex-direction: column;
}
#calendarMain{
   margin-top: 0px;
  margin-right:0px;
  padding:1em;
}

}







 
