@use '@angular/material' as mat;

$my-primary-palette: mat.define-palette(mat.$cyan-palette);
$my-bg-palette: mat.define-palette(mat.$blue-gray-palette);
$my-warn-palette: mat.define-palette(mat.$amber-palette);

$font:'Raleway', sans-serif;
$textSize: 15px;
$headerSize: 20px;
$bg:#424242;
$headerbg: mat.get-color-from-palette($my-primary-palette, 700);
$primary: mat.get-color-from-palette($my-primary-palette,500);
$warn: mat.get-color-from-palette($my-warn-palette,500);
$white: #fff;


#cardHeader{
  display: flex;
  justify-content: center;
}
#deleteHeader{
  font-family: $font;
  font-size: $textSize;
  font-size:larger;
  margin-bottom: 20px;
}
#actionbtns{
  display: flex;
  justify-content: space-between;
  margin:10px
}
#cancelbtn{
  font-family: $font;
  font-size: $textSize;
  background-color: darken($primary,10);
}
#deletebtn{
  font-family: $font;
  font-size: $textSize;
  background-color: darken($warn,10);
}
#deletebtn:hover{
  text-decoration: underline;
}

@media only screen and (min-device-width: 250px) and (max-device-width: 600px){
#actionbtns{
  justify-content: space-between;
  margin:0px
}
#deletebtn{
  padding:0px 5px 0px 5px;
}
#cancelbtn{
  padding: 0px 5px 0px 5px;
}
}