<mat-card>
  <mat-card-header id="cardHeader">
    <mat-card-title id="addBillHeader">Add Bill</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field appearance="fill" id="formField">
        <mat-label>Enter Description</mat-label>
        <input matInput [(ngModel)]="billInfo.Description" placeholder="ex: Phone" type="text" name="Description"
               required>
        <mat-icon aria-hidden="true" aria-label="description icon" matPrefix>description</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill" id="formField">
        <mat-label>Enter Amount</mat-label>
        <mat-icon id="currency" aria-hidden="true" aria-label="CAD icon" matPrefix>attach_money</mat-icon>
        <input matInput [(ngModel)]="billInfo.Amount" type="number" placeholder="ex: $48.77" name="Amount" required>
      </mat-form-field>
      <!-- <span>({{data.user.CurrencyPref}})</span> -->

      <mat-form-field appearance="fill" id="formField">
        <mat-label>Date</mat-label>
        <input matInput name="Date" placeholder="Date" value={{data.date}} [(ngModel)]="billInfo.Date"
               [matDatepicker]="dp" readonly>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>




      <mat-checkbox [checked]="isChkChecked" id="checkbox" color="primary" (change)="onChkChange($event)"> Paid
      </mat-checkbox>
    </form>
  </mat-card-content>
  <mat-card-actions id="divBtns">
    <button id="addBtn" mat-raised-button (click)="createBill(token, userId)">
      <mat-icon aria-hidden="false" aria-label="add icon">add_task</mat-icon>
      Add Bill
    </button>
  </mat-card-actions>
</mat-card>