<mat-card id="card">
  <mat-card-header id="registerHeader">
    <mat-card-title id="regTitle">Register for BillFold!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form id="registerForm">
      <mat-form-field appearance="fill" id="formField">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="userDetails.FirstName" type="text" name="FirstName" required>
        <button mat-icon-button matPrefix>
          <mat-icon aria-hidden="true" aria-label="user icon" matPrefix>person_outline</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill" id="formField">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="userDetails.LastName" type="text" name="LastName" required>
        <button mat-icon-button matPrefix>
          <mat-icon aria-hidden="true" aria-label="user icon" matPrefix>person_outline</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill" id="formField">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="userDetails.Username" type="text" name="Username" required>

        <button mat-icon-button matPrefix>
          <mat-icon aria-hidden="true" aria-label="account icon" matPrefix>account_circle</mat-icon>
        </button>

      </mat-form-field>
      <mat-form-field appearance="fill" id="formField">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="userDetails.Password" [type]="hide ? 'password' : 'text'" name="Password" required>

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon aria-hidden="true" aria-label="visibility icon">{{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>

      </mat-form-field>
      <mat-form-field appearance="fill" id="formField">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="userDetails.Email" type="email" name="Email" required>
        <button mat-icon-button matPrefix>
          <mat-icon aria-hidden="true" aria-label="email icon" matPrefix>email</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill" id="formField">
        <mat-label>Currency Preference</mat-label>
        <button mat-icon-button matPrefix>
          <mat-icon aria-hidden="true" aria-label="currency icon" matPrefix>currency_exchange</mat-icon>
        </button>
        <mat-select matNativeControl [(ngModel)]="userDetails.CurrencyPref" type="text" placeholder="CAD" required
                    name="CurrencyPref">
          <div id="option">
            <mat-icon id="currency" aria-hidden="true" aria-label="CAD icon" matPrefix>attach_money</mat-icon>
            <mat-option value="CAD">
              CAD
            </mat-option>
          </div>
          <div id="option">
            <mat-icon id="currency" aria-hidden="true" aria-label="USD icon" matPrefix>attach_money</mat-icon>
            <mat-option value="USD">
              USD
            </mat-option>
          </div>
          <div id="option">
            <mat-icon id="currency" aria-hidden="true" aria-label="GBP icon" matPrefix>currency_pound</mat-icon>
            <mat-option value="GBP">
              GBP
            </mat-option>
          </div>
          <div id="option">
            <mat-icon id="currency" aria-hidden="true" aria-label="EUR icon" matPrefix>euro_symbol</mat-icon>
            <mat-option value="EUR">
              EUR
            </mat-option>
          </div>
        </mat-select>

      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions id="btnActions">
    <button mat-raised-button (click)="registerUser()" id="registerBtn">
      <mat-icon aria-hidden="false" aria-label="Login icon">app_registration</mat-icon>
      Register
    </button>
  </mat-card-actions>
</mat-card>