@use '@angular/material' as mat;

$my-primary-palette: mat.define-palette(mat.$cyan-palette);
$my-bg-palette: mat.define-palette(mat.$blue-gray-palette);
$my-warn-palette: mat.define-palette(mat.$amber-palette);

$font:'Raleway', sans-serif;
$textSize: 15px;
$headerSize: 20px;
$headerbg: mat.get-color-from-palette($my-primary-palette, 700);
$primary: mat.get-color-from-palette($my-primary-palette,500);
$warn: mat.get-color-from-palette($my-warn-palette,500);
$blue:#007ad9;
$white: #fff;
$bgGrey: #ebecef;

#registerHeader{
  display: flex;
  justify-content: center;
  font-family: $font;
  font-size: $headerSize;
}
#formField{
font-family: $font;
font-size: $textSize;
margin:6px
}
#registerBtn{
  background-color: darken($primary,10);
  color:$white;
  font-family: $font;
  font-size: $textSize;
}
#btnActions{
  text-align: right;
  margin-top: -10px;
}
#option{
  display: flex;
  flex-direction: row;
}
#currency{
  color:$white;
 margin:10px;
}