$font:'Raleway', sans-serif;
$textSize: 15px;
$headerSize: 20px;
$blue:#007ad9;
$white: #fff;
$bgGrey: #ebecef;

#registerHeader{
  display: flex;
  justify-content: center;
  font-family: $font;
  font-size: $headerSize;
}
#formField{
font-family: $font;
margin:6px
}
#registerBtn{
  background-color: $blue;
  color:$white;
  font-family: $font;
  font-size: $textSize;
}
#btnActions{
  text-align: right;
  margin-top: -10px;
}
#option{
  display: flex;
  flex-direction: row;
}
#currency{
  color:$white;
 margin:10px;
}