<nav mat-tab-nav-bar>
  <div id="nav">
    <div class='nav-image'>
      <img src='assets/icons/iconBlueLong-937x264.png' id="navlogo" routerLink='/expenses' alt="app logo billfold"
           width=auto height="50" />
      <img src='assets/icons/iconBlueSmall-215x264.png' id="smallnavlogo" routerLink='/expenses' alt="app logo billfold"
           width=auto height="60" />
    </div>

    <div id="menuItems">
      <a id="links" mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive
         #rla="routerLinkActive" [routerLinkActiveOptions]="{exact:true}" [active]="rla.isActive">
        <mat-icon id="icons" aria-hidden="true" aria-label="link icon" class="example-tab-icon">{{link.icon}}</mat-icon>
        <span id="linkLabel">{{link.label}}</span>
      </a>
    </div>
  </div>

</nav>