@use '@angular/material' as mat;

$my-primary-palette: mat.define-palette(mat.$cyan-palette);
$my-bg-palette: mat.define-palette(mat.$blue-gray-palette);
$my-warn-palette: mat.define-palette(mat.$amber-palette);

$font:'Raleway', sans-serif;
$textSize: 15px;
$headerSize: 20px;
$headerbg: mat.get-color-from-palette($my-primary-palette, 700);
$primary: mat.get-color-from-palette($my-primary-palette,500);
$warn: mat.get-color-from-palette($my-warn-palette,500);
$blue:#007ad9;
$white: #fff;
$bgGrey: #ebecef;

#billDetailsHeader{
  display: flex;
  justify-content: left;
  margin-left: -15px;
}

#billDetailsTitle{
  text-transform: uppercase;
  font-family: $font;
  font-size: $headerSize;
}
.paidclass{
  color:$primary;
}
.unpaidclass{
  color:$warn;
}
.paidBtn{
  background-color: darken($primary,10);
}
.unpaidBtn{
  background-color: darken($warn,15);
}
#text{
  font-family: $font;
  font-size: $textSize;
}
#divBtns{
  display:flex;
  justify-content: center;
  // margin-right:0px;
  margin-top: 20px;
}
#editBtn{
  font-family:$font;
  font-size: $textSize;
}
#editBtn:hover{
  text-decoration: underline;
}