<p>expense-create works!</p>

<mat-card>
  <mat-card-header>
    <mat-card-title>Add Expense</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select matNativeControl [(ngModel)]="expenseInfo.Category" type="text" placeholder="Food" required
                    name="Category">

          <mat-option value="Housing">Housing</mat-option>
          <mat-option value="Bills">Bills</mat-option>
          <mat-option value="Food">Food</mat-option>
          <mat-option value="Entertainment">Entertainment</mat-option>
          <mat-option value="Personal">Personal Spending</mat-option>
          <mat-option value="Savings">Savings</mat-option>
          <mat-option value="Transportation">Transportation</mat-option>
          <mat-option value="Medical">Medical</mat-option>
          <mat-option value="Savings">Savings</mat-option>
          <mat-option value="Miscellaneous">Miscellaneous</mat-option>

        </mat-select>

      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="expenseInfo.Description" placeholder="Description" type="text" name="Description"
               required>
      </mat-form-field>
      <mat-form-field>
        <!-- <input matInput [(ngModel)]="expenseInfo.Date" type="Date" name="Date" placeholder={{todayDate}} required> -->
        <input matInput [(ngModel)]="expenseInfo.Date" name="Date" placeholder="" type="Date">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="expenseInfo.Amount" type="number" placeholder="00.00" name="Amount" required>
      </mat-form-field><span>({{data.user.CurrencyPref}})</span>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="createExpense(token, userId)" color="primary">
      Create Expense
    </button>
  </mat-card-actions>
</mat-card>