@use '@angular/material' as mat;

$my-primary-palette: mat.define-palette(mat.$cyan-palette);
$my-bg-palette: mat.define-palette(mat.$blue-gray-palette);
$my-warn-palette: mat.define-palette(mat.$amber-palette);

$font:'Raleway', sans-serif;
$textSize: 15px;
$headerSize: 20px;
$headerbg: mat.get-color-from-palette($my-primary-palette, 700);
$primary: mat.get-color-from-palette($my-primary-palette,500);
$warn: mat.get-color-from-palette($my-warn-palette,500);
$white: #fff;


#cardHeader{
  display: flex;
  justify-content: center;
}
#nameHeader{
  font-family: $font;
  font-size: $headerSize;
  margin-bottom: 20px;
}
#formField{
  font-family: $font;
  font-size: $textSize;
  margin-inline: 10px;
}
#saveBtn{
  font-family: $font;
  font-size: $textSize;
  background-color: darken($warn,10);
  margin-bottom:10px;
  margin-right:20px;
}
#divSaveBtn{
  display: flex;
  justify-content: flex-end;
}
#saveBtn:hover{
  text-decoration: underline;
}

@media only screen and (min-device-width: 250px) and (max-device-width: 600px){
  #divSaveBtn{
    justify-content: center;
  }
  #nameHeader{
    text-align: center;
  }
}