<mat-card id="changeNameCard">
  <mat-card-header id="cardHeader">
    <mat-card-title id="nameHeader">Update First and Last Name</mat-card-title>
  </mat-card-header>

  <mat-form-field appearance="fill" id="formField">
    <mat-label>Enter your new first name</mat-label>
    <input matInput [(ngModel)]="userData.FirstName" placeholder={{data.FirstName}} type="text" name="FirstName"
           required>
  </mat-form-field>
  <mat-form-field appearance="fill" id="formField">
    <mat-label>Enter your new last name</mat-label>
    <input matInput [(ngModel)]="userData.LastName" placeholder={{data.LastName}} type="text" name="LastName" required>
  </mat-form-field>
  <mat-card-actions id="divSaveBtn">
    <button id="saveBtn" mat-raised-button (click)="updateUser(token, userId)">
      <mat-icon aria-hidden="false" aria-label="save icon">save_alt</mat-icon>
      Save Changes
    </button>
  </mat-card-actions>
</mat-card>