<mat-card id="billEditCard">
  <mat-card-header id="billEditHeader">
    <mat-card-title id="billEditTitle">Edit Bill</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>

      <mat-form-field appearance="fill" id="formField">
        <mat-label>Description</mat-label>
        <mat-icon aria-hidden="true" aria-label="description icon" matPrefix>description</mat-icon>
        <input matInput [(ngModel)]="billInfo.Description" placeholder="Description" type="text" name="Description"
               required>
      </mat-form-field>
      <mat-form-field appearance="fill" id="formField">
        <mat-label>Date</mat-label>
        <input matInput [(ngModel)]="billInfo.Date" placeholder="Date" name="Date" [matDatepicker]="dp" required>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" id="formField">
        <mat-label>Amount</mat-label>
        <mat-icon id="currency" aria-hidden="true" aria-label="money icon" matPrefix>
          {{billInfo.Currency === 'EUR'
          ?
          'euro_symbol' :billInfo.Currency === 'GBP' ? 'currency_pound' : 'attach_money'}}
        </mat-icon>
        <input matInput [(ngModel)]="billInfo.Amount" type="number" placeholder={{data.Amount}} name="Amount" required>
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions id="divBtns">
    <button mat-raised-button id="editBtn" (click)="editBill(userId, token, billId)" color="primary">
      <mat-icon aria-hidden="false" aria-label="save icon">save_alt</mat-icon>
      Save Changes
    </button>
  </mat-card-actions>
</mat-card>