//header bg
.fc{
        background-color: darken($primary, 10);
        font-family: $font; 
        border-radius: 5px;  
}

//arrows + inactive month/week
.fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button{
        background-color:$primary;
        color:$white;
        border:none;
}
.fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button:hover{
        background-color:darken($primary,10);
        color:$white;
}
.fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button:focus{
        background-color:darken($primary,10);
        box-shadow: 0 0 0 0.1rem $white;
}
.fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button:not(:disabled):focus{
        // box-shadow: 0 0 0 0.1rem $white;
        border-radius:3px;
}

//focus box shadow (week and day)
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button:not(:disabled):focus, .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button:not(:disabled):focus, .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button:not(:disabled):focus{
        // box-shadow: 0 0 0 0.2rem lighten($primary,10);
        color:$white;
        box-shadow: 0 0 0 0.1rem $white;
        border-radius: 3px;
}
//active btn on hover
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button.fc-button-active:hover, .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button.fc-button-active:hover, .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button.fc-button-active:hover{
        background-color:darken($primary,10);
        color:$white;
        // box-shadow: 0 0 0 0.2rem lighten($primary,10);
        // box-shadow:none;
}
//week and day btn (inactive on hover)
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button:hover, .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button:hover, .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button:hover{
        background-color: darken($primary,10);
        color:$white;
        // box-shadow: 0 0 0 0.2rem lighten($primary,10);
        box-shadow: none;
}
//active btn on hover
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button.fc-button-active, .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button.fc-button-active, .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button.fc-button-active{
        background-color:darken($primary,10);
        border-color: darken($primary,10);
        color:$white;
}
//month/week active
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button.fc-button-active, .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button.fc-button-active, .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button.fc-button-active{
        background-color: darken($primary,10);
        border-color: darken($primary,10);
        color:$white;
}
//today btn when not on month
 .fc.fc-theme-standard .fc-toolbar .fc-today-button:not(:disabled):hover{
         background-color: $primary;
        // box-shadow: 0 0 0 0.2rem lighten($primary,30);
        border-radius: 3px;
        color:$white;
 }
// .fc.fc-theme-standard .fc-toolbar .fc-today-button-active{
//         box-shadow: 0 0 0 0.2rem lighten($primary,30);    
// }
  .fc.fc-theme-standard .fc-toolbar .fc-today-button:disabled{
         background-color: darken($primary,10);
         border:none;
         color:$white;
 }

 //today btn only
  .fc.fc-theme-standard .fc-toolbar .fc-today-button{
          background-color:darken($primary,10);
          border:none;
          transition:none;
          color:$white;
        //   box-shadow: none;
  }
.fc.fc-theme-standard .fc-toolbar .fc-today-button:not(:disabled):focus{
       box-shadow: 0 0 0 0.2rem lighten($primary,10);
       border:none;
//        color:$white;
        // transform:box-shadow(none);
        // transform:border(none);
}
//month title
.fc .fc-toolbar-title{
        color:$white;
        font-family: $font;
        font-weight: 500;
}
//grid bg
.fc .fc-scroller{
        background-color:$bg;   
}
//weekdays bg
.fc.fc-theme-standard .fc-view-harness th{   
        background-color: darken($primary, 20);
}
//text
.fc.fc-theme-standard a{
        color:#fff;
}
//list view header
.fc.fc-theme-standard .fc-view-harness .fc-cell-shaded{
        background-color: darken($primary,20);
}
//today color
.fc-daygrid-day.fc-day.fc-day-mon.fc-day-today, .fc-daygrid-day.fc-day.fc-day-fri.fc-day-today, .fc-daygrid-day.fc-day.fc-day-tue.fc-day-today, .fc-daygrid-day.fc-day.fc-day-wed.fc-day-today, .fc-daygrid-day.fc-day.fc-day-thu.fc-day-today, .fc-daygrid-day.fc-day.fc-day-sat.fc-day-today, .fc-daygrid-day.fc-day.fc-day-sun.fc-day-today {
        background-color:darken($primary,20);
}
//text list views
.fc.fc-theme-standard .fc-view-harness td{
        color:$white;
}
//hover days
.fc.fc-theme-standard .fc-view-harness td:hover{
        background-color:lighten($bg, 10);
}

//remove all-day fgrom list view
.fc .fc-list-event-graphic, .fc .fc-list-event-time{
        display:none
}

//now container for week
.fc .fc-timegrid-now-indicator-container{
        background-color:lighten($bg,15);
}

//event colors
.fc.fc-theme-standard .fc-view-harness .fc-event.fc-daygrid-block-event.PaidNo{
        background-color: $warn;
        font-weight: bolder;
        border-color: darken($warn,10);
        text-align: center;
        cursor:pointer;
}
.fc.fc-theme-standard .fc-view-harness .fc-event.fc-daygrid-block-event.PaidYes{
        background-color: $primary;
        color:$bg;
        font-weight: bolder;
        border-color: darken($primary,20);
        text-align: center;
        cursor:pointer;
}
.fc .fc-event.PaidNo{
        background-color:$warn;
        cursor:pointer;
        font-weight: bolder;
}
.fc .fc-event.PaidYes{
        background-color: $primary;
        cursor:pointer;
        font-weight: bolder;
        
}

//outside cal bottom border
.fc.fc-theme-standard .fc-view-harness .fc-view{
        background-color: $bg;
        cursor:pointer;
}
