
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import '~bootstrap/dist/css/bootstrap.css';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
////old here
// $billFold-client-primary: mat.define-palette(mat.$indigo-palette);
// $billFold-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// $billFold-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
///old here
// $billFold-client-theme: mat.define-light-theme((
//   color: (
//     primary: $billFold-client-primary,
//     accent: $billFold-client-accent,
//     warn: $billFold-client-warn,
//   )
// ));

$light-app-theme: mat-light-theme((
        color: (
                primary: mat-palette($mat-indigo),
                accent: mat-palette($mat-pink, A200, A100, A400),
                warn: mat-palette($mat-red),
        )
));

$dark-app-theme:   mat-dark-theme((
        color: (
                primary: mat-palette($mat-cyan),
                accent: mat-palette($mat-blue-gray, A200, A100, A400),
                warn: mat-palette($mat-amber),
        )
));

@mixin body-theme($theme) {
  $_background: map-get($theme, background);
  $app-background-color: mat-color($_background, background);

  body {
    background-color: $app-background-color;
  }
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

//old here
// @include mat.all-component-themes($billFold-client-theme);
.dark-theme {
  @include angular-material-color($dark-app-theme);
   @include body-theme($dark-app-theme);
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

