@use '@angular/material' as mat;

$my-primary-palette: mat.define-palette(mat.$cyan-palette);
$my-bg-palette: mat.define-palette(mat.$blue-gray-palette);
$my-warn-palette: mat.define-palette(mat.$amber-palette);

$font:'Raleway', sans-serif;
$textSize: 15px;
$headerSize: 25px;
$headerbg: mat.get-color-from-palette($my-primary-palette, 700);
$primary: mat.get-color-from-palette($my-primary-palette,500);
$warn: mat.get-color-from-palette($my-warn-palette,500);
$white: #fff;


#container{
 display: flex;
  justify-content: center;
  margin: 0;
}
#profileCard{
  border-radius: 10px;
   width:800px;
   margin-top: 20px;
}
#cardHeader{
  font-family: $font;
  font-size: $headerSize;
  margin-top:5px;
  margin-bottom: 20px; 
  margin-left: -5px;
  font-weight: 500;
}
p{
  margin-top:15px;
  margin-left: 10px;
}
#line{
  display: flex;
  justify-content: space-between;
  font-family: $font;
  font-size: $textSize;
  margin-top: -10px;
  margin-bottom: -15px;
}
#dialogBtns{
  background-color:darken($primary,5);
  font-family: $font;
  font-size:$textSize;
  margin-right: 10px;
}
#dialogBtns:hover{
  text-decoration: underline;
}
#divDeleteBtn{
margin-top: 40px;
margin-left: 10px;
}
#deleteBtn{
  font-family: $font;
  font-size:$textSize;
  background-color: darken($warn,10);
}
#deleteBtn:hover{
   text-decoration: underline;
}

@media only screen and (min-device-width: 250px) and (max-device-width: 320px) {  
 
    #profileCard{
      max-width: 250px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {  
   
    #profileCard{
      max-width: 320px;
    }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 600px) {  

    #profileCard{
      max-width: 480px;
    }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 800px) {  
 
    #profileCard{
      max-width: 600px;
    }
}