<p>user-profile works!</p>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{userData.Username}} Profile
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>First Name: <span>{{userData.FirstName}}</span></p>
    <mat-divider></mat-divider>
    <p>Last Name: <span>{{userData.LastName}}</span></p>
    <mat-divider></mat-divider>
    <p>Username: <span>{{userData.Username}}</span><button mat-raised-button
              (click)="openUpdateUsernameDialog(user)">Edit</button> </p>
    <mat-divider></mat-divider>
    <p>Email: <span>{{userData.Email}}</span></p>
    <mat-divider></mat-divider>
    <p>Password: <input type="password" [(ngModel)]="userData.Password"></p>
    <mat-divider></mat-divider>
    <p>Currency: <span>{{userData.CurrencyPref}}</span></p>
    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openUpdateDialog(user)">Edit Profile</button>
      <button mat-raised-button color="warn" (click)="openDeleteDialog()">Delete Profile</button>
    </mat-card-actions>

  </mat-card-content>
</mat-card>